body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #F0FFFF;
}

.month {
    margin: 25px;
    width: 85%;
    border: 3px solid #AFEEEE;
}

.week {
    margin: 0;
    /* height: 42px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.day {
    width: 13%;
    height: 37px;
    border: 1px solid #AFEEEE;
    text-align: center;
    margin-bottom: 3px;
    padding-top: 9px;
}